# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Môi trường ảo
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# File log hoặc tạm
*.log
*.tmp
*.swp

# ===== PyCharm / IntelliJ IDEA =====
.idea/
*.iml

# ===== VSCode (nếu có dùng) =====
.vscode/

# ===== MacOS & hệ điều hành =====
.DS_Store
Thumbs.db
