uvicorn[standard]==0.27.0
opencv-python
pydub
kafka-python==2.0.2
transformers
torch
whisper
fer
deepface
TikTokApi
numpy
imageio
ffmpeg-python
python-dotenv
requests==2.31.0
pytube
moviepy
fastapi
torchaudio